- include_javascript 'admin/tablekit'
- if allowed_by_role?
  %ul#page_view_toggle
    %li#tree_view= link_or_span_unless_current(params, 'Tree View', admin_pages_path, :onclick => "Cookies.set('page_view', 'tree');")
    %li#paginated_list= link_or_span_unless_current(params, 'Paginated List', admin_pages_path(:view => 'paginated_list'), :onclick => "Cookies.set('page_view', 'paginated_list');", :id => 'paginated_list')
    %li#full_list= link_or_span_unless_current(params, 'Full List', admin_pages_path(:view => 'full_list'), :onclick => "Cookies.set('page_view', 'full_list');", :id => 'full_list')
    - if params[:view] == 'full_list'
      %li#search= render :partial => 'page_search'
- content_for :page_css do
  :sass
    #page_view_toggle
      background-color: #7E7E7E
      width: 100%
      text-align: right
      list-style: none
      font-size: 12px
      padding: 10px 0 8px 0
      li
        display: inline
        margin: 0 5px 0 0
      #search
        margin-right: 5px
        form
          display: inline
      a, a:visited
        color: white
        text-decoration: none
      span
        color: white
        font-weight: bold
    #tree_view
      a, span
        padding: 5px 5px 5px 25px
        background-image: url(/images/admin/application_side_tree.png)
        background-position: 5px center
        background-repeat: no-repeat
    #paginated_list
      a, span
        padding: 5px 5px 5px 25px
        background-image: url(/images/admin/application_cascade.png)
        background-position: 5px center
        background-repeat: no-repeat
    #full_list
      a, span
        padding: 5px 5px 5px 25px
        background-image: url(/images/admin/application_view_detail.png)
        background-position: 5px center
        background-repeat: no-repeat
    html>body
      #tree_view, #paginated_list, #full_list
        a, span
          *display: inline-block
    * html 
      #tree_view, #paginated_list, #full_list
        a, span
          display: inline-block